<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang Chủ", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Home", "Home")</li>*@
                    @*<li>@Html.ActionLink("Login", "DangNhap", "NguoiDung")</li>
            <li>@Html.ActionLink("SignUp", "DangKy", "NguoiDung")</li>*@
                </ul>
                @{
                    var u = Session["NguoiDung"] as ReviewFood.Models.NguoiDung;
                }
                @{
                    if (u != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Xin chào @u.hoten <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="btn btn-light"><a href="/NguoiDung/DangXuat">Log off</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="nav navbar-nav navbar-right">
                            <a class="btn btn-dark" href="/NguoiDung/DangKy"> Đăng ký</a>
                            <a class="btn btn-light" href="/NguoiDung/Dangnhap"> Đăng nhập</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Trang Home</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
